@import 'colors.css';

:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: normal;

    --border-radius: 5px;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--foreground);
    background: var(--color--background);

    > * {
        box-sizing: border-box;
        max-width: 100vw;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    main, footer {
        padding: 1em;
    }

    main {
        flex-grow: 1;
        
        @media (min-width: 768px) {
            width: 80%;
        }
    }
    
    footer {
        text-align: center;
    }
    
    h1, h2, h3, h4, h5, h6 {
        width: 100%;
        margin: 0 0 .5em 0;
        padding: 0;
        line-height: 1.5;
        text-align: center;
    }

    p {
        line-height: 1.25;
        margin: 0 0 1.5em 0;

        white-space: pre-wrap;
        overflow-wrap: anywhere;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        > svg {
            vertical-align: middle;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    button {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        padding: .25em;
        font-size: 1.25em;
        gap: .5em;
        cursor: pointer;
        border: none;
        border-radius: var(--border-radius);

        > svg {
            height: 1.5em;
            font-weight: bold;
        }
    }

    form {
        input {
            padding: .25em;
            background-color: var(--color--white-light);
            border-radius: var(--border-radius);
            font-size: 1em;

            &:focus {
                box-shadow: inset 0 0 0 1px var(--color--green-light);
                outline: none;
            }
        }

        button {
            &[type="reset"] {
                background-color: var(--color--red-light);
            }

            &[type="submit"] {
                background-color: var(--color--green-light);
            }
        }
    }
}