.modal {
    --pading-and-gap: 1em;
    --radius: 5px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - (var(--pading-and-gap) * 2.5) - (1em * 2));;
    display: flex;
    flex-direction: column;
    gap: var(--pading-and-gap);
    padding: var(--pading-and-gap);
    background-color: var(--color--black-dark);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border: 1px solid var(--color--green);
    border-radius: var(--radius);

    @media (min-width: 768px) {
        width: 80%;
    }

    .topRow {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
        }

        button {
            border: none;
            border-radius: var(--radius);
            padding: 0;
            background-color: var(--color--orange-light);
            color: var(--color--black-dark);
        }
    }

    .buttonRow {
        display: flex;
        justify-content: space-between;

        &:has(:only-child) {
            justify-content: center;
        }

        .actionButton {
            border: none;
            border-radius: var(--radius);
            padding: 0 .25em;

            &.primary {
                background-color: var(--color--green);
                color: var(--color--black-dark);
            }

            &.secondary {
                background-color: var(--color--orange-light);
                color: var(--color--black-dark);
            }
        }
    }
}