.buttonRow {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 0 0 .5em;

    @media (min-width: 768px) {
        justify-content: end;
    }

    button {
        background-color: var(--color--purple-dark);
        color: var(--color--green-light);
    }
}